<h1>New Item</h1>
<p>
    {{item | json}}
</p>
<form>
    <div class="form-group">
        <label for="itemType">Item Type</label>
        <select id="itemType" class="form-control" [(ngModel)]="item.itemType" name="itemType">
            <option></option>
            <option *ngFor="let it of itemTypes" value="{{it.id}}">{{it.name}}</option>
        </select>
    </div>
    <div class="form-group">
        <label for="machineType">Machine Type</label>
        <select class="form-control" value="{{mt.id}}" [(ngModel)]="item.machineType" name="machineType">
            <option></option>
            <option *ngFor="let mt of machineTypes" value="{{mt.id}}">{{mt.name}}</option>
        </select>
    </div>
</form>